body {
	min-height: 100vh;
	min-width: 100vw;
  
	background-image: url('assets/Boat2.png'), url('assets/oceanMoving4.gif');
  
	background-size: 2050px 950px, cover;
	background-position: top center, center;
	background-repeat: no-repeat, no-repeat;
	/*
	  animation: slowBackground 40000s infinite;  /***duration timing-function delay iteration-count direction fill-mode; **
	  */
  }
  
  /* @keyframes slowBackground {
	  from {
		  background-position: 0 0;
	  }
	  to {
		  background-position: 100% 0;
	  }
  } */
  @font-face {
	font-family: "Rustic-dyJl";
	src: url('/assets/Rustic-dyJl.ttf');
  }
  
  header {
	text-align: center;
	margin: 0px 0px 0px 0px;
  }
  
  h1 {
	/* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */
	font-family: 'Rustic-dyJl';
	line-height: 0.2;
	text-align: center;
	font-size: 100px;
	font-weight: 50px;
	color: rgba(255, 25, 0, 0.84);
  }
  
  h2 {
	text-align: center;
  }
  
  .intro {
	/* font-family:'Rustic-dyJl' ; */
	text-align: center;
	line-height: 0.1;
	font-size: 32px;
	font-weight: bolder;
	/* color:  white; */
	color: rgb(19, 18, 18);
  }
  
  .opening-modal {
	display: none;
  }
  
  .opening-modal-content {
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-self: center;
	align-items: center;
	z-index: 2000;
  }
  
  .opening-modal-container {
	/* display: none; */
	margin-top: 250;
	margin-left: 250;
	height: 100%;
	width: 50%;
	background-color: rgb(224, 146, 44);
	border-radius: 10px;
	justify-self: center;
	z-index: 2000;
  }
  
  .pirate-picture {
	width: 200px;
	height: 200px;
  }
  
  .opening-modal-span {
	font-size: 50px;
	color: black;
  }
  
  #btn-modal-start {
	font-size: 30px;
	color: black;
  }
  
  .main {
	float: left;
	width: 80%;
  }
  
  .side-bar {
	float: left;
	width: 7%;
	margin-left: 70px;
	margin-top: 50px;
  
  }
  
  .btn {
	/* background-image: url('/assets/2-dice.png'); */
	/* background-size: auto; */
	/* background: no-repeat; */
	transform: translate(-40%, -40%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 250px;
	left: 450px;
	width: fit-content;
	margin-left: 570px;
	margin-top: 30px;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: black;
  }
  
  #dice-roll-picture {
	width: 100px;
  }
  @keyframes btnDiceRollFadeInOut {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
  }
  #btnDiceRoll img.top {
	animation-name: btnDiceRollFadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-duration: 1s;
	animation-direction: alternate; 
	
	/* background-repeat: no-repeat; */
	

	transform: translate(-40%, -40%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 150px;
	left: 70px;
	width: fit-content;
	height: fit-content;
	margin-left: 70px;
	margin-top: 30px;
	cursor: pointer;
  }
  
  /* #btnDiceRoll img {
	position: absolute;
  } */

  #btnDiceRoll:hover {
	background-color: black;
  }
  
  .move-spaces {
	background-color: red;
	color: #FFF;
	height: 150px;
	width: 130px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2rem;
	margin-top: 40px;
	margin-left: 25px;
	padding: 5px;
	font-size: 25px;
  }
  
  #move-spaces-display {
	color: white;
  }
  
  .piece-image {
	width: 30;
	height: 80px;
  
  }
  
  .actions {
	display: flex;
	justify-content: center;
  }
  
  .actions #btn-reset {
	padding: 8px 16px;
	font-size: 30px;
	border-radius: 10px;
	background-color: purple;
	color: white;
	margin-top: 15px;
  }
  
  /* .actions #btn-play {
	  padding: 8px 16px;
	  font-size: 30px;
	  border-radius: 10px;
	  background-color: teal;
	  color: white;
  } */
  .wrapper {
	display: inline-block;
	position: relative;
	margin-top: 15px;
	height: 100px;
	width: 840px;
	border-radius: 0px;
	background: #fff;
	display: flex;
	padding: 0px 0px;
	align-items: center;
	/* border: 1px solid #0069d9; */
	justify-content: space-evenly;
  }
  
  .wrapper .option {
	/* font: 20px sans-serif; */
	/* font-size: 20px; */
	background: blue;
	/* height: 15%;
	  width: 15%; */
	margin: 0px 0px;
	border-radius: 0px;
	/* cursor: pointer; */
	/* border: 2px solid lightgrey; */
  }
  
  .piece-image {
	cursor: grab;
  }
  
  .option {
	font-size: 40px;
	color: white;
  }
  
  .grid-container {
	display: grid;
	justify-content: center;
	grid-gap: 5px;
	grid-template-columns: repeat(7, 140px);
	grid-template-rows: repeat(6, calc(140px /5 *3));
  }
  
  .status {
	background-color: #000000;
	color: #FFF;
	border-radius: 1rem;
	height: 3rem;
	width: 80%;
	line-height: 30px;
	margin: auto;
	font-size: 1rem;
	padding: 0px 0px 0px 2px;
  }
  
  #pirate-status-id {
	margin: 3px 0px 0px 0px;
	font-size: 25px;
	color: white;
  }
  
  .talk {
	background-color: #000000;
	color: #FFF;
	border-radius: 1rem;
	height: 60px;
	width: 80%;
	line-height: 3rem;
	margin: auto;
	font-size: 1rem;
	padding: 0px 1px 0px 1px;
  }
  
  #pirate-talk-id {
	margin: 1rem 0px;
	font-size: 30px;
	color: white;
	padding: 2px 2px 2px 2px;
  }
  
  .card {
	height: calc(140px /5*3);
	width: 120px;
	border-radius: 50px;
	background-color: white;
	position: relative;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
  }
  
  .card.occupied {
	height: 30px;
  
  }
  
  .card.drop-target {
	height: 30px;
	border: 2px dashed #00ff00;
	/* Example style for drop target */
  }
  
  .front-image {
	width: 100%;
	height: 100%x;
  }
  
  .back-image {
	width: 100%;
	height: 70%x;
  }
  
  .card.flipped {
	transform: rotateY(190deg);
  }
  
  .front,
  .back {
	backface-visibility: hidden;
	position: absolute;
	border-radius: 0px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  }
  .how-to {
	display: flex;
	justify-content: center;
  }
  .card .front {
	display: flex;
  
	justify-content: center;
	align-items: center;
	transform: rotateY(180deg);
  }
  
  .card .back {
	background-image: url("https://th.bing.com/th/id/OIP.etxBm6zq_xJEHJNeTVtjbwHaHa?pid=ImgDet&w=190&h=190&c=7");
	background-position: center center;
	background-size: cover;
	backface-visibility: hidden;
  }
  
  
  #modal-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
  }
  
  #modal {
	height: 40%;
	width: 40%;
	background-color: antiquewhite;
	border-radius: 10px;
  }
  
  .hidden {
	display: none;
  }
  
  .shown {
	display: flex;
  }
  
  /* .won-modal-container,
  .lost-modal-container {
	display:none;
	/* visibility: hidden; */
  /* }  */ 
  
  .won-modal,
  .lost-modal {
	display:none;
	/* visibility: hidden; */
  }
  .won-modal-content,
  .lost-modal-content {
	position: relative;
	background-color:   rgba(71, 5, 5, 0.692);
	/* height: 80vh;
	width: 50vw; */
	  height: fit-content;
	width: fit-content;
	  color: white;
	  font-size: 40px;
	  height: fit-content;
	width: fit-content;
	justify-content: center;
  
	align-self: center;
	align-items: center;
	z-index: 3000;
  }
  
  .won-modal-container,
  .lost-modal-container {
	display: none;
	margin-top: 50;
	margin-left: 30;
	height: 30%;
	width: 70%;
	color: white;
	font-size: 30px;
	background-color: rgb(209, 121, 12);
	border-radius: 10px;
	justify-self: center;
	z-index: 3000;
  }
  
  .won-modal-span2,
  .lost-modal-span2 {
	font-size: 50px;
	color: white;
  }
  
  #btn-won-modal-start, #btn-lost-modal-start{
	  font-size: 30px;
  }